<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ilyaasprojec.Properties.Settings.inventoryManagementConnectionString"
            connectionString="Data Source=DESKTOP-2VVG7E8\SQLEXPRESS;Initial Catalog=inventoryManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ilyaasprojec.Properties.Settings.masterConnectionString"
            connectionString="Data Source=DESKTOP-GEG2ALP\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
